/* 公共样式 */
.fl {
    float: left;
}
.fr {
    float: right;
}
.w { 
    width: 1200px;
    margin: 0 auto;
}
.shortcut .fr .space {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 14px 0;
}
.style-red {
    color: red;
}
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}
.shortcut  li {
    float: left;
    margin:0 10px;
}
.shortcut .fl .li {
    /* float: left; */
    margin-left: 0;
}
.header {
    position: relative;
    height: 105px;
    /* background-color: red; */
}
.logo {
    position: absolute;
    top: 25px;
    width: 115px;
    height: 56px;
    background-color: #666;
}
.logo a {
    overflow: hidden;
    display: block;
    width: 115px;
    height: 56px;
    /* text-indent: -999px; */
    font-size: 0;
}
.logo a img {
    width: 115px;
    height: 56px;
}
.search {
    position: absolute;
    top: 25px;
    left: 348px;
}
.search .class {
    float: left;
    width: 445px;
    height: 32px;
    border: 2px solid #bb1111;
    color: #ccc;
    padding-left: 10px;
}
.search .btn {
    float: left;
    width: 82px;
    height: 36px;
    background-color: #bb1111;
    border: 0;
    font-size: 16px;
    color: #fff;
}
.hotwords {
    position: absolute;
    top: 65px;
    left: 348px;
}
.hotwords a {
    padding: 0 12px;
}
.shopcar {
    line-height: 34px;
    width: 138px;
    height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    text-align: center;
}
.a {
    position: absolute;
    top: 25px;
    right: 64px;
}
.a .count {
    position: absolute;
    top: -5px;
    left: 100px;
    padding: 0 3px;
    height: 14px;
    background-color: red;
    line-height: 14px;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 45px;
    border-bottom: 2px solid red;
}
.dropdown {
    width: 209px;
    height: 45px;
    background-color: #555;
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    background-color: #cc1d1d;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 45px;
}
.dropdown .dd {
    /* width: 100%; */
    height: 226px;
    background-color: #f13e3e;
    margin-top: 2px;
    padding-left: 1px;
}
.menu_item {
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.menu_item:hover {
    background-color: #fff;
}
.menu_item:hover a {
    color: red;
}
.menu_item a {
    font-size: 16px;
    color: #fff;
}
.menu_item i {
    float: right;
    font-size: 18px;
    color: #fff;
    padding-right: 10px;
}
.navitems {
    margin-left: 100px;
}
.navitems li {
    float: left;
}
.navitems li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 50px;
    font-size: 16px;
}
.footer {
    height: 370px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    float: left;
    height: 79;
    /* border-bottom: 1px solid #ccc; */
}
.mod_service li{
    text-align: center;
    float: left;
    height: 79px;
    width: 200px;
}
.mod_service li img {
    
    height: 79px;
    width: 150spx;
}
.mod_help {
    height: 250px;
    border-bottom: 1px solid #ccc;
}
.mod_help dl {
    float: left;
    width: 170px;
    padding: 20px 0 0 70px;
}
.mod_help dt {
    height: 25px;
    font-size: 16px;
}
.mod_help dt dd {
    height: 30px;
}
.mod_copyright {
    text-align: center;
}
.mod_copyright_links {
    margin: 20px 20px 20px 20px;
}
.mod_copyright_info {
    line-height: 18px;
}